# Блок 2. первый проект.

In [3]:
print(1, type(1))
print(1.0, type(1.0))
print('1', type('1'))
print("1", type("1"))
print(1<2, type(1<2))
print(1>2, type(1>2))

1 <class 'int'>
1.0 <class 'float'>
1 <class 'str'>
1 <class 'str'>
True <class 'bool'>
False <class 'bool'>

In [5]:
A = 1
B = 2
print(A+B)
print(A-B)
print(A*B)
print(A/B)
print(A**B)

3
-1
2
0.5
1

In [7]:
A = 1.5
B = 2.5
print(A+B)
print(A-B)
print(A*B)
print(A/B)
print(A**B)

4.0
-1.0
3.75
0.6
2.7556759606310752

In [8]:
A = 10
B = 15
print(A/B)
print((int)(A/B))

0.6666666666666666
0

In [9]:
#конкатенация строк
str1 = "Hello"
str2 = " "
str3 = "World"
str4 = "!"
print(str1+str2+str3+str4)
print((str1+str2+str3+str4)*3)

Hello World!
Hello World!Hello World!Hello World!

In [10]:
A = 1.5
B = 2.5
print(A>B)
print(A<B)
print(A>=B)
print(A<=B)
print(A==B)
print(A<B and A<=B)
print(A<B or A>B)

False
True
False
True
False
True
True

In [ ]:
# # - comments
# \t - табуляция (пробел)
# \n - new line
# % - указатель на вставку

In [20]:
print("If %1i + %2i = %3i then XAXAXA %4s" % (2, 2, 2+2, 'xaxaax'))

If 2 +  2 =   4 then XAXAXA xaxaax

Задания
1. напишите код, который выводит деление 12 на 20 и тип данных ответа(int or float)
2. напишите код, который выводит строку "питонпитонпитон"
3. что получится, если мы B=2.5 умножим на (A>B) при A=1? A=3?

In [24]:
s = input('Введите число ')
print(s)
#можно и так
s = input('введите число, оператор и число ')
print(s + ' = ', eval(s))

Введите число 1
1
введите число, оператор и число 12+12
12+12 =  24

In [26]:
x = 'name = "andrey"\nprint(name)'
exec(x)
y = 'print(2+2)'
exec(y)

andrey
4

Задания:
1. написать скрипт, который спросит имя пользователя и ответит "здравствуй, имя_пользователя"

# ***Разработка программ для реализации простейших математических моделей (бросок предмета).***

 С балкона 8-го этажа здания вертикально вниз бросили тело, которое упало на землю через 2 с и при падении имело скорость 25 м/с. Какова была начальная скорость тела?

In [ ]:
t = 2 #время полета 2 секунды
V = 25 #начальная скорость
g = 9.8 #ускорение свободного падения
V = V0 + gt