# LIST

In [ ]:
# list
a = [1, 2, 3]
print(a)
b = ['cat', 123, True]
print(b)
c = [1, 2, [3, 4]]
print(c)

[1, 2, 3]
['cat', 123, True]
[1, 2, [3, 4]]
2
['cat', 123]

In [ ]:
c = [1, 2, 3, 4, 5, 6]

# что можно делать со списком
print(c[1]) #индексация
print(c[0:2]) #вывести элементы от 0 до 2 в листе b
print(c[0:6:2]) #вывести элементы от 1 до 6 с промежутком 2

# так же можно изменять элементы в списках
c[1] = 4
print('new ', c)

2
[1, 2]
[1, 3, 5]
new  [1, 4, 3, 4, 5, 6]

In [ ]:
a = [1, 2]
b = a
a[0] = 5

print(a)
print(b)
# Проблема в том, что a — это ссылка на область в памяти компьютера, где хранится первый элемент списка, а также на следующий его элемент.
# когда мы присвоили списку b список a, то на самом деле присвоили ему ссылку на первый элемент — по сути, сделав их одним списком.

[5, 2]
[5, 2]

In [ ]:
a = [1, 2]
b = [3, 4]
с = a + b

print(с)

[1, 2, 3, 4]

In [ ]:
a = [1, 2, 3]
d1, d2, d3 = a

print(d1)
print(d2)
print(d3)

1
2
3

In [ ]:
a = [1, 2, 3]
b = [1, 2, 3]
print(a == b)

True

In [ ]:
# некоторые встроенные функции для списков
a = [8, 1, 3, 2]
print('len ', len(a))
print('sorted ', sorted(a))
print('min ', min(a))
print('max ', max(a))

a.append(4) #добавление одного значения
print('append ', a)

a.extend([4, 5]) #добавление нескольких значений
print('extend ', a)

a.insert(0, 4) #добавление элемента по индексу
print('insert ', a)

a.remove(1) #Метод удаляет только первое вхождение элемента. Остальные остаются нетронутыми.
print('remove ', a)

# a.remove(10)
# print(a) #ERROR

print('index ', a.index(2)) #Возвращает индекс элемента списка

print('pop ', a.pop()) #Удаляет элемент по индексу и возвращает его как результат
print('pop_list ', a)

a.sort()
print('sort ', a)

a.sort(reverse=True)
print('sort_reverse ', a)

a.clear()
print('clear ', a)

len  4
sorted  [1, 2, 3, 8]
min  1
max  8
append  [8, 1, 3, 2, 4]
extend  [8, 1, 3, 2, 4, 4, 5]
insert  [4, 8, 1, 3, 2, 4, 4, 5]
remove  [4, 8, 3, 2, 4, 4, 5]
index  3
pop  5
pop_list  [4, 8, 3, 2, 4, 4]
sort  [2, 3, 4, 4, 4, 8]
sort_reverse  [8, 4, 4, 4, 3, 2]
clear  []

In [ ]:
# string working
a = ['cat', 'dog', 'bat']
a.extend('mouse')
print(a)

['cat', 'dog', 'bat', 'm', 'o', 'u', 's', 'e']

In [ ]:
# цикл for
# цикл while

# FOR

In [ ]:
#for
animals = ['cat', 'dog', 'horse']
for animal in animals:
  print(animal)

cat
dog
horse

In [ ]:
for number in range(5):
    print(number)

print('\n')

for number in [0, 1, 2, 3, 4]:
    print(number)

print('\n')

for number in range(10):
    if number % 2 == 0:
        print(number)

0
1
2
3
4


0
1
2
3
4


0
2
4
6
8

# WHILE

In [ ]:
#while
animals = ['cat', 'dog', 'horse']
i = 0
while i < len(animals):
  print(animals[i])
  i += 1

cat
dog
horse

In [ ]:
a = 1

while a < 10:
    print('Цикл выполнился', a, 'раз(а)')
    a = a+1
print('Цикл окончен')

Цикл выполнился 1 раз(а)
Цикл выполнился 2 раз(а)
Цикл выполнился 3 раз(а)
Цикл выполнился 4 раз(а)
Цикл выполнился 5 раз(а)
Цикл выполнился 6 раз(а)
Цикл выполнился 7 раз(а)
Цикл выполнился 8 раз(а)
Цикл выполнился 9 раз(а)
Цикл окончен

In [ ]:
a = 1

while a < 5:
   print('условие верно')
   a = a + 1
else:
   print('условие неверно')

условие верно
условие верно
условие верно
условие верно
условие неверно

In [ ]:
a = 1
while a < 5:
    a += 1
    if a == 5:
	    break
    print(a)

2
3
4

In [ ]:
a = 1

while a < 5:
    a += 1
    if a == 3:
	    continue
    print(a)

2
4
5

# Задание:
1. Пользователь вводит с клавиатуры две границы диапазона и число. Если число не попадает в диапазон, программа просит пользователя повторно ввести число, и так до тех пор, пока он не введет число правильно. Программа отображает все числа диапазона, выделяя число восклицательными знаками. Например: 1 2 3 !4! 5 6 7. Уточнение: вывод должен быть в виде списка

In [ ]:
#####

['2', '3', '!4!', '5', '6', '7']

# Самостоятельная работа:
Разработка программ с использованием циклов (моделирование полёта брошенного предмета по времени и по точности).
доработать код ниже разделив время полета на 6 частей вместо 4 и показать вывод изменения высоты (разности между текущей высотой и высотой в предшествующий момент времени)
Пример:
высота в 0 сек разность 0.0 м.
высота в 0.13 сек разность 0.56 м.
высота в 0.25 сек разность 0.4 м.
высота в 0.51 сек разность 0.32 м.
высота в 0.76 сек разность -0.32 м.
высота в 0.89 сек разность -0.4 м.
высота в 1.02 сек разность -0.56 м.

In [ ]:
# Программа для моделирования вертикального положения метаемого снаряда

v0 = 5 # начальная скорость
g = 9.80665 # ускорение свободного падения
r = 1.8 # рост персонажа
mishen = 1.8 # высота мишени

tmax = 2*v0/g

t = [0, 1/4*tmax, 1/2*tmax, 3/4*tmax, tmax] # список моментов времени

n = len(t)

spisok = [] # создание пустого списка

for i in t:
  visota = round(v0*i - 1/2*g*i**2 + r, 3)
  spisok.append((round(i,2), visota)) # добавление элемента в список

for vrem, vis in spisok:
  print(f"высота в {vrem} сек. = {vis} м.")

# print("последний элемент списка ", spisok[-1])
# print("элемент списка начиная с третьего до предпоследнего ", spisok[2:-1])
# print("последний элемент кортежа первого элемента списка ", spisok[0][-1])

высота в 0 сек. = 1.8 м.
высота в 0.25 сек. = 2.756 м.
высота в 0.51 сек. = 3.075 м.
высота в 0.76 сек. = 2.756 м.
высота в 1.02 сек. = 1.8 м.
последний элемент списка  (1.02, 1.8)
элемент списка начиная с третьего до предпоследнего  [(0.51, 3.075), (0.76, 2.756)]
последний элемент кортежа первого элемента списка  1.8

In [ ]:
#напишите код, который будет выводить такой результат :)

[(0, 1.8), (0.17, 2.508), (0.34, 2.933), (0.51, 3.075), (0.68, 2.933), (0.85, 2.508), (1.02, 1.8)]
высота в 0 сек. разность 0.0 м.
высота в 0.17 сек. разность 0.708 м.
высота в 0.34 сек. разность 0.425 м.
высота в 0.51 сек. разность 0.142 м.
высота в 0.68 сек. разность -0.142 м.
высота в 0.85 сек. разность -0.425 м.
высота в 1.02 сек. разность -0.708 м.